<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends" ng-if="show">
        Enable Friends 1
    </ion-toggle>
    <ion-toggle  ng-model="settings.enableFriends" ng-hide="!show">
        Enable Friends 2
    </ion-toggle>
    <ion-toggle  ng-model="settings.enableFriends" ng-show="!show">
        Enable Friends 3
    </ion-toggle>
    </ion-list>

    <button class="button button-balanced" ng-click="show = true">
      Show
    </button>

    <button class="button button-energized" ng-click="show = false">
      Hide
    </button>
  </ion-content>
</ion-view>
