<ion-view view-title="Posts">
  <ion-content ng-controller="WPCtrl">
<!--     <ion-list>
      <ion-toggle  ng-model="settings.enableFriends" ng-if="show">
          Enable Friends 1
      </ion-toggle>
      <ion-toggle  ng-model="settings.enableFriends" ng-hide="!show">
          Enable Friends 2
      </ion-toggle>
      <ion-toggle  ng-model="settings.enableFriends" ng-show="!show">
          Enable Friends 3
      </ion-toggle>
    </ion-list>

    <button class="button button-balanced" ng-click="show = true">
      Show
    </button>

    <button class="button button-energized" ng-click="show = false">
      Hide
    </button> -->

    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>

    <ion-list>

      <div class="row" ng-if="loading">
        <div class="col text-center">
          <ion-spinner icon="spiral"></ion-spinner>
        </div>
      </div>

      <div class="row" ng-if="error">
        <div class="col text-center">
          <button class="button button-assertive"
          ng-click="doRefresh()">Error. Reload?</button>
        </div>
      </div>

<!--  <ion-item ng-repeat="post in posts" ng-if="!error" ng-click="goToPost(post)">
        <h1>{{post.title}}</h1>
        <span>{{post.id}}</span>
      </ion-item> -->

      <ion-item class="item-remove-animate item-icon-right" ng-repeat="post in posts" type="item-text-wrap" ng-click="goToPost(post)" ng-if="!error"
      ng-class=" { 'item-avatar' : post.thumbnail } ">
        <img ng-if="post.thumbnail" ng-src="{{post.thumbnail}}">
        <h2>{{post.title}}</h2>
        <p>By {{post.author.name}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
